<div class="container ">
  <br>
  <header class="background jumbotron  ">
    <h1 class="font_0">
      <span class="" style="font-size:44px;">
        <dl>
          <dt><span>{{ content }}</span></dt>
          <dd><span>{{ ACC_VERSION }}</span></dd>
        </dl>
      </span>
    </h1>
  </header>

  <aside>
    <!-- Card -->
    <div class="fa-pull-right bg-image card shadow-1-strong card-img">
      <div class="card-body text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-outline-light">Button</a>
      </div>
    </div>
    <!-- Card -->
  </aside>

  <div class="alert alert-success  " role="alert">
    <h4 class="alert-heading ">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>

</div>
