<!--header>
  <div class="wrapper">
    <div>
      <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fillRule="evenodd">
          <path
            d="M10 0h12a10 10 0 0110 10v12a10 10 0 01-10 10H10A10 10 0 010 22V10A10 10 0 0110 0z"
            fill="#FFF"
          />
          <path
            d="M5.3 10.6l10.4 6v11.1l-10.4-6v-11zm11.4-6.2l9.7 5.5-9.7 5.6V4.4z"
            fill="#555AB9"
          />
          <path
            d="M27.2 10.6v11.2l-10.5 6V16.5l10.5-6zM15.7 4.4v11L6 10l9.7-5.5z"
            fill="#91BAF8"
          />
        </g>
      </svg>
      <h1>Acme</h1>
    </div>
    <div>
      <div *ngIf="user">
          <span class="welcome">
            Welcome, <b>{{ user }}</b
          >!
          </span>
        <storybook-button
          *ngIf="user"
          size="small"
          (onClick)="onLogout.emit($event)"
          label="Log out" >
        </storybook-button>
      </div>
      <div *ngIf="!user">
        <storybook-button
          *ngIf="!user"
          size="small"
          class="margin-left"
          (onClick)="onLogin.emit($event)"
          label="Log in"
        ></storybook-button>
        <storybook-button
          *ngIf="!user"
          size="small"
          [primary]="true"
          class="margin-left"
          (onClick)="onCreateAccount.emit($event)"
          label="Sign up"
        ></storybook-button>
      </div>
    </div>
  </div>
</header-->
<div class="container">
  <br>
  <header class="background jumbotron  ">
    <h1 class="font_0">
      <span class="" style="font-size:44px;">
        <span>content</span>
        <!--span>{{ content }}</span-->
      </span>
    </h1>
  </header>

  <embed type="text/html" src="https://www.tadirantele.com/" height="300px" width="100%" >

  <h2>Iframe - Target for a Link</h2>
.
  <iframe src="https://localhost:8445/accRealTime" sandbox="allow-top-navigation-by-user-activation allow-same-origin allow-scripts allow-popups allow-forms"  name="iframe_a" height="300px" width="100%" title="Iframe Example">
  </iframe>




  <p><a href="https://172.28.8.245:8443/aeonix/mainForm.jsf" target="iframe_a">aeonix</a></p>
  <p><a href="https://en.wikipedia.org/wiki/Avocado" id="testid" target="iframe_a">wikipedia</a></p>
  <p><a href="https://172.28.1.130:8445/accRealTime" target="iframe_a">accRealTime</a></p>
  <p>When the target attribute of a link matches the name of an iframe, the link will open in the iframe.</p>

</div>
